<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br>
    <h1>Learn To Sell On Amazon Canada</h1>
    <br>
    <h2>I'm your FBA coach, Pierre.</h2>
    <br>
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br><br>
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Sourcing 101</h3>
    <br>
    <p>Let me show you how I pick products that sell</p>
  </div>
<br>
<div class="col-12 col-sm">
    <h3>Anyone can do it!</h3>
    <br>
    <p>From Newbie to Jedi</p>
  </div>
<br>
  <div class="col-12 col-sm">
    <h3>Join us</h3>
    <br>
    <p>Facebook group</p>
    
  </div>


</div>
